.select2-container--default .select2-selection--single {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.turbolinks-progress-bar {
    height: 5px;
    background-color: green;
  }

  .turbolinks-progress-bar {
    visibility: hidden;
  }
